# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
django==2.2
djangorestframework==3.9.2
gunicorn==20.0.4